<div class="auth-page">
  <div class="container page">
    <div class="row">

      <div class="auth-div">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType == 'register'">Уже есть аккаунт?</a>
          <a [routerLink]="['/register']" *ngIf="authType == 'login'">Хотите зарегистрироваться?</a>
        </p>
        <app-list-errors [errors]="errors"></app-list-errors>
        <form [formGroup]="authForm" (ngSubmit)="submitForm()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group">
              <input
                formControlName="name"
                placeholder="Name"
                class="form-control form-control-lg"
                type="text"
                *ngIf="authType == 'register'"/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="email"
                placeholder="Email"
                class="form-control form-control-lg"
                type="text"/>
            </fieldset>
            <fieldset class="form-group">
              <input
                formControlName="password"
                placeholder="Password"
                class="form-control form-control-lg"
                type="password"/>
            </fieldset>
            <button class="btn-lg" [disabled]="!authForm.valid" type="submit">
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>

    </div>
  </div>
</div>
