<div class="container">
  <div class="vh-100">

    <div class="d-grid justify-content-center">
      <div class="align-items-start flex-column bd-highlight mb-3">
        <div class="bd-highlight div-title-form">
          <h1 class="">{{ title }}</h1>
        </div>

        <div class="div-question-form">
          <p class="bd-highlight">
            <a [routerLink]="['/login']" *ngIf="authType == 'register'">Уже есть аккаунт?</a>
            <a [routerLink]="['/register']" *ngIf="authType == 'login'">Или регистрация?</a>
          </p>
        </div>

        <div>
          <app-list-errors [errors]="errors"></app-list-errors>
        </div>
      </div>
    </div>

    <form [formGroup]="authForm" (ngSubmit)="submitForm()" class="d-flex justify-content-center">
      <fieldset [disabled]="isSubmitting">
        <fieldset class="mb-3">
          <input
            formControlName="name"
            placeholder="Name"
            class="form-control"
            type="text"
            *ngIf="authType == 'register'"/>
        </fieldset>
        <fieldset class="mb-3">
          <input
            formControlName="email"
            placeholder="Email"
            class="form-control"
            type="text"/>
        </fieldset>
        <fieldset class="mb-3">
          <input
            formControlName="password"
            placeholder="Password"
            class="form-control"
            type="password"/>
        </fieldset>
        <button class="btn-sm" [disabled]="!authForm.valid" type="submit">
          Отправить
        </button>
      </fieldset>
    </form>
  </div>
</div>
