<footer class="bd-footer py-5 bg-light">
  <div class="container">
    <div>
      <div class="d-flex justify-content-around">

        <div>
          <a class="logo-font" routerLink="/">CivilAlarm</a>
          <span class="attribution">&copy; 2022.</span>
        </div>

        <div>
          <span class="help-span">
              Поддержка: <a href="mailto:civilalarm-sup@yandex.com" target="_blank">civilalarm-sup@yandex.com</a>
          </span>
        </div>

        <div>
          <span class="version">
            v1.2.0
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>
