<div class="container-fluid container-head">
  <div class="container">
    <nav class="navbar navbar-expand-xxl navbar-dark flex-wrap flex-md-nowrap" style="background-color: #538bde;">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">ГРАЖДАНСКИЙ БУДИЛЬНИК</a>
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"-->
<!--                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--          <span class="navbar-toggler-icon"></span>-->
<!--        </button>-->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <!-- Show this for logged out users -->
          <ul *appShowAuthed="false" class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/">
                Главная
              </a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">
                Войти
              </a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/register" routerLinkActive="active">
                Регистрация
              </a>
            </li>
          </ul>

          <!-- Show this for logged in users -->
          <ul *appShowAuthed="true" class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/" >
                Главная
              </a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/filters" >
                Фильтры
              </a>
            </li>
            <li class="nav-item col-6 col-md-auto">
              <a class="nav-link active a-nav-link" aria-current="page" routerLink="/notices" >
                Уведомления
              </a>
            </li>
            <li class="nav-item col-6 col-md-auto dropdown">
              <a class="nav-link active dropdown-toggle a-nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                 data-bs-toggle="dropdown" aria-expanded="false">
                {{ currentUser.name }}
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-versions"
                  style="background-color: #f5f5f6;">
                <li>
                  <a class="dropdown-item" routerLink="/profile">
                    Профиль
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" routerLink="/" (click)="onLogOut()">
                    Выйти
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
