<div class="container vh-100">
  <div class="text-center">
    <h1 class="bd-highlight h1-tittle">Активируйте и сохраните фильтры по которым будет происходить поиск</h1>
  </div>

  <div>
    <app-list-errors [errors]="errors"></app-list-errors>
    <form [formGroup]="filterForm" (ngSubmit)="onSubmitFormFilter()">
      <fieldset class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">Фильтр №1</span>
          <input type="text" class="form-control input-text-filter" formControlName="filter_first"
                 placeholder="текст для поиска" aria-label="текст для поиска">
          <span class="input-group-text span-filter">субъект:</span>
          <select formControlName="subjects_first" class="form-select select-filter" id="subject_choice_first">
            <option *ngFor="let item of subjectList" value="{{ item }}">{{ item }}</option>
          </select>
          <div class="input-group-text div-switch">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isActive_1" [checked]="isActive_1"
                     (change)="onChangeActiveFilter($event)">
              <label class="form-check-label" for="isActive_1">{{ isActive_1 ? 'активен' : 'выключен' }}</label>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-group">
        <div class="input-group mb-3">
          <span class="input-group-text">Фильтр №2</span>
          <input type="text" class="form-control input-text-filter" formControlName="filter_first"
                 placeholder="текст для поиска" aria-label="текст для поиска">
          <span class="input-group-text span-filter">субъект:</span>
          <select formControlName="subjects_second" class="form-select select-filter" id="subject_choice_second">
            <option *ngFor="let item of subjectList" value="{{ item }}">{{ item }}</option>
          </select>
          <div class="input-group-text div-switch">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isActive_2" [checked]="isActive_2"
                     (change)="onChangeActiveFilter($event)">
              <label class="form-check-label" for="isActive_1">{{ isActive_2 ? 'активен' : 'выключен' }}</label>
            </div>
          </div>
        </div>

      </fieldset>
      <div class="d-flex justify-content-end">
        <button class="btn-sm" type="submit">
          Сохранить
        </button>
      </div>

    </form>
    <div class="d-flex justify-content-end">
      <h4 class="save-done-h4" [hidden]="!isSubmitting">Успешно сохранено</h4>
    </div>
  </div>

  <section class="section-advise">
    <h2><strong>Подсказки:</strong></h2>
    <ul class="list-unstyled">
      <li>
        <ul>
          <li class="mb-1">
            Самым лучшим фильтром будет фамилия в именительном падеже. Имя и отчество, в материалах дела,
            могут быть использованы в сокращенном виде поэтому вариативность поиска будет увеличина.
          </li>
          <li class="mb-1">
            Если фамилия или текст имеет частую употребляемость, то вы получите тысячи результатов.
            Например на фамилию "Петров".
            В таких случаях обязательно укажите субьект.
          </li>
          <li class="mb-1">
            Запрос осуществляется с критериями поиска: "Любое из слов" и "Во всех полях".
            На сайте ГАС, эти опции спрятаны в иконке "шестёренка" в поле поиска, перед кнопкой НАЙТИ.
          </li>
        </ul>
      </li>
    </ul>
  </section>
</div>
