.h1-tittle{
  margin-top: 4rem;
  font-weight: bold;
  line-height: 1.65;
  font-family: 'avenir next', 'helvetica neue', 'helvetica', 'helvetica', 'arial', sans-serif;
}

.input-text-filter{
  min-width: 190px;
}
.select-filter{
  min-width: 190px;
}

.span-filter{
  min-width: 112px;
}

.div-switch{
  min-width: 9rem;
}

.save-done-h4 {
  color: #589e4f;
}
