.h1-tittle {
  margin-top: 4rem;
  font-weight: bold;
  line-height: 1.65;
  font-family: 'avenir next', 'helvetica neue', 'helvetica', 'helvetica', 'arial', sans-serif;
}

.notices-div {
  margin-bottom: 100px;
}

.div-row-results {
  border: 2px solid;
  background: #fff4f4;
}

.empty-results-h3 {
  margin-top: 30px;
  font-size: 1.0rem;
  font-weight: lighter;
}


////////////TABLE-NOTICES///////////
.mat-elevation-z8 {
  box-shadow: 0px 5px 5px -3px rgba(123, 188, 246, 0.2), 0px 8px 10px 1px rgb(117, 163, 241), 0px 3px 14px 2px rgba(125, 122, 248, 0.12);
}

table {
  width: 100%;

  tr.example-detail-row {
    height: 0;
  }

  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }

  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }

  .example-element-row td {
    border-bottom-width: 0;
  }

  .example-element-detail {
    overflow: hidden;
    display: flex;
  }

  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }

  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }

  .example-element-description {
    padding: 16px;
  }

  .example-element-description-attribution {
    opacity: 0.5;
  }

  tr {
    td {
      div {
        display: block;
      }
    }
  }
}

.h3-res-name {
  margin: 0;
}

.example-element-detail {
  display: grid;
}

