.container-banner {
  color: #090808;;
  background-color: #f6fcff;
}

.container-div-1 {
  padding: 40px;
}

.section-how-works{
  color: #090808;;
  background-color: #f6fcff;
  padding-bottom: 3rem;
}

.div-col {
  min-width: 350px;
}

.div-img {
  margin: 1rem 1rem;
  max-width: 150px;
}

.h2-how {
  margin: 1rem;
}
.div-1{
  background-color: #e4ffe6;
  margin: 1rem;
  border: 1px solid;
  border-radius: 10px;
}
.div-2{
  margin: 1rem;
}
